<footer class="footer" id="contacts" #contacts>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="lets_talk">
                        <h3>
                            {{'LetsTalk_header_1' | translateTo:this.languageService.getCurrentLanguage()}} 
                            <a>{{'LetsTalk_header_2' | translateTo:this.languageService.getCurrentLanguage()}} </a> 
                        </h3>
                        <p>{{'LetsTalk_body' | translateTo:this.languageService.getCurrentLanguage()}}</p>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://www.facebook.com/DjalilOuss/" target="_blanc">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Facebook</span>
                            <img src="assets/img/contacts/Facebook.png" height="40" />  
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.instagram.com/djalil.oussama/" target="_blanc">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Instagram</span>
                            <img src="assets/img/contacts/instagram.png" height="40" />
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/abdeldjalil-hatti-19b42a117/"  target="_blanc">
                        <div class="single_links d-flex justify-content-between align-items-center">
                            <span>Linkedin</span>
                            <img src="assets/img/contacts/linkedin.png" height="40" />    
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="single_links d-flex justify-content-between align-items-center">
                        <span>0555125160 / 0696705027</span>
                        <img src="assets/img/contacts/phone.png" height="40" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_links d-flex justify-content-between align-items-center">
                        <span>djalilhatti@gmail.com</span>
                        <img src="assets/img/contacts/gmail.jpg" height="40" />
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</footer>