<div class="skills_area" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50 pull-right" >
                    <h3>{{'Web Development Skills' | translateTo:this.languageService.getCurrentLanguage()}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://angular.io" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/Angular.png" height="90" alt="">
                        </div>
                        <h3> Angular </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://dotnet.microsoft.com" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/ASP.webp" height="90" alt="">
                        </div>
                        <h3> Asp.Net </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://laravel.com/" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/Laravel.webp" height="90" alt="">
                        </div>
                        <h3> Laravel </h3>
                    </a>
                    
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>{{'Desktop Development Skills' | translateTo:this.languageService.getCurrentLanguage()}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://java.com/" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/Java.webp" height="90" alt="">
                        </div>
                        <h3> Java </h3>
                    </a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/cSharp.png" height="90" alt="">
                        </div>
                        <h3> C# </h3>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>{{'Database Development Skills' | translateTo:this.languageService.getCurrentLanguage()}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://www.microsoft.com/fr-fr/sql-server/" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/sql-server.png" height="90" alt="">
                        </div>
                        <h3> SQL SERVER </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <a href="https://www.mysql.com/fr/" target="_blank">
                        <div class="icon">
                            <img src="assets/img/skills/mysql-512.webp" height="90" alt="">
                        </div>
                        <h3> Mysql </h3>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>